<!DOCTYPE html>
<html>
<head>
  <title>Notice</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="alert alert-warning text-center">
      <%= message %>
    </div>
    <div class="text-center">
      <a href="/submit" class="btn btn-primary">Go to Upload Page</a>
    </div>
  </div>
</body>
</html>